[PRIMARY_USER]
username = user_a
password = pass_a
ifolderws = http://myhost/simias10/iFolderWeb.asmx?wsdl=0
pathtodb = .ifolderdb-user_a
soapbuflen = 65536
prefix = /tmp/pyFolder
config = .ifolderrc-user_a
policy = DefaultPolicy
verbose = False

[SECONDARY_USER]
username = user_b
password = pass_b
ifolderws = http://myhost/simias10/iFolderWeb.asmx?wsdl=0
pathtodb = .ifolderdb-user_b
soapbuflen = 65536
prefix = /tmp/pyFolder
config = .ifolderrc-user_b
policy = DefaultPolicy
verbose = False

[Options]
SIMIAS_REFRESH = 5
